<style>
  .message-content {
    font-family: Arial,  Halvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}!</p>
  <br/>
  <p>Recebemos uma solicitação de redefinição de  senha para sua conta de usuário.</p>
  <p>Se realmente foi  você que soliciou, clique no link  abaixo para escolher umanova senha:</p>
  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>
  <p>Caso você não tenha realizado essa solicitação,descarte este email.</p>
  <br/>
  <p>Obrigado!</p>
  <p>Projeto API Vendas</p>
</div>
